.blue-background {
  background-color: $blue-team-color;
}

.green-background {
  background-color: $green-team-color;
}

.yellow-background {
  background-color: $yellow-team-color;
}

.red-background {
  background-color: $red-team-color;
}

.masters-background {
  background-color: $masters-team-color;
}

.neutral-background {
  background-color: $neutral-color;
}
