.split {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &__left,
  &__right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    width: 50vw;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;

  * {
    width: 100%;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
