.blue-font {
  color: $blue-card-color;
}

.green-font {
  color: $green-card-color;
}

.yellow-font {
  color: $yellow-card-color;
}

.red-font {
  color: $red-card-color;
}

.master-font {
  color: $master-card-color;
}
