.amount {
  text-align: center;
  padding: 1rem 0;
  font-size: 2rem;
  color: $font-color;

 p {
   margin: 0;
 }
}

@include media-breakpoint-down(md) {
  .amount {
    padding: 0.5rem 0;
    font-size: 1.5rem;
  }
}