.base-card {
  @include element-shadow($card-shadow-color);

  border-radius: 25px;
  padding: 0.5rem 1.5rem;
  font-size: 0.8rem;
  background-color: $card-background-color;

  .square-btn {
    @include base-btn(0.15rem);
  }

  .rectangle-btn {
    @include base-btn(0.8rem, 4rem);
  }

  .rectangle-input {
    padding: 0.1rem 0.15rem;
    height: max-content;
    min-width: 5ch;
    max-width: 10ch;
    text-align: center;
    align-items: center;
    font-size: 0.875rem;
  }

  button {
    @include base-btn(0.8rem);
  }

  input {
    @extend .rectangle-input;
  }
}

.small-card {
  @extend .base-card;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  max-height: fit-content;
  max-width: 15vw;
  margin: auto;

  * {
    margin: 0.2rem auto;
  }

  label {
    text-align: left;
    width: 100%;
    font-weight: 500;
  }
}
