.login-form {
   display: flex;
   flex-direction: column;
   padding: 1rem;
   width: 100%;
   justify-content: center;
   align-items: center;
 }

.links {
  text-align: center;
  font-size: 0.85rem;
}