.question-section {
  @extend .default-shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  width: 90%;
  overflow: hidden;
  color: $font-color;
  border-radius: 20px;

  .timer {
    font-weight: 600;
  }
}

.question {
  width: 100%;
  font-size: 2rem;
  margin: 0;

  &__category {
    text-align: center;
    padding: 0.9rem 0;
  }

  &__content {
    text-align: center;
    padding: 0.9rem 0;
  }

  &__hints {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.8rem;
  }

  p {
    margin: 0;
  }
}

@include media-breakpoint-down(md) {
  .question-section {
    margin-top: 1.5rem;
  }

  .question {
    font-size: 1.25rem;
  }
}