// menu
$menu-background-color: #040930;
$menu-separator-color: #525b6d;
$menu-section-color: #202447;
$menu-font-color: #f2f4f7;

// button
$blue-button-color: #0275d8;
$white-button-color: #e2e6ea;
$default-button-color: #6c757d;

// card
$card-background-color: #ffffff;
$card-shadow-color: #696762;
$blue-card-color: #0275d8;
$green-card-color: #1f9130;
$yellow-card-color: #ecc444;
$red-card-color: #ef0555;
$masters-card-color: #080c3c;

// spectator
$blue-team-color: #46b3e6;
$green-team-color: #91bd3a;
$yellow-team-color: #fddb3a;
$red-team-color: #d63636;
$masters-team-color: #83898f;
$neutral-color: #f3f3f3;
$font-color: black;

$separator-background-color: #1a1a1a;
$separator-font-color: #f3f2ee;

$home-background-image: radial-gradient(at 25vw 50vh, #fff, #f6f6f6);
