$menu-background-color: #040930;
$menu-separator-color: #525b6d;
$menu-section-color: #202447;
$menu-font-color: #f2f4f7;

$blue-button-color: #0275d8;
$white-button-color: #e2e6ea;

$card-background-color: #ffffff;
$card-shadow-color: #696762;
$blue-card-color:  #0275d8;
$green-card-color: #1f9130;
$yellow-card-color: #ecc444;
$red-card-color: #ef0555;
$master-card-color: #080C3C;